// global application styles
a {
    cursor: pointer;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;

}
.bg-img {
    /* The image used */
    background-image: url('/src/app/images/Doctor_1.png');
    
    
     min-height: 350px;
  
    /* Center and scale the image nicely */
     background-position: right;
     background-repeat: no-repeat;
     background-size: auto;
     position: relative;
     image-orientation: from-image;
     background-position: right;
 
  }
//   .app-text {
//       color: #5983e8;
//   }
  .app-text-form {
    color: #5983e8;
    // text-align: left;
}
.button-app {
    color:white;
    // border:black 1px solid;
    background-color: #5983e8;
}
.nav-app {
  background-color: #5983e8;
}
.nav-text {
  color:white;
  // text-align: left;
}

.div {
  background-color: lightgrey;
  width: 800px;
  border: 15px solid #5983e8;
  padding: 50px;
  margin: 20px;
}
.listDoctorsButton {
  background-color: #5983e8; 
  border: 1px solid black;
}
.patientHistoryDiv {
  background-color: lightgrey;
  width: 600px;
  border: 15px solid #5983e8;
  padding: 50px;
  margin: 20px;
}
.listPatientButton {
  position: absolute;
    // right: 10px;
    // top: 5px;
    background-color: #5983e8; 
  border: 1px solid black;
}