.mystyle{
    background-color:yellow;
        color:yellow;
  
    }
 .field-input-block{
     display: inline;
 }
 input{
    margin:10px;
    padding:10px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    text-align:center;
 }


    