<h2 class="app-text-form">Consultant Registration</h2>
<br>
<div class="jumbotron">
    <div class="bg-img">
    <div class="container">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-4 form-group">
    <div class="form-group">
        <label for="firstName" class="app-text-form">First Name</label>
        <input type="text"  formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
</div>
<div class="col-sm-4 form-group">
    <div class="form-group">
        <label for="lastName" class="app-text-form">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-4 form-group">
    <div class="form-group">
        <label for="username" class="app-text-form">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
            </div>
    <div class="col-sm-4 form-group">
    <div class="form-group">
        <label for="password" class="app-text-form">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-sm-4 form-group">
<div class="form-group">
<label for="date" class="app-text-form">D.O.B</label>
<input type="date"  formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
<div *ngIf="submitted && f.date.errors" class="invalid-feedback">
    <div *ngIf="f.date.errors.required">Date Of Birth is required</div>
</div>
</div>
</div>
<div class="col-sm-4 form-group">
<div class="form-group">
    <label class="app-text-form">Gender</label><br>
      <label class="radio-inline">
        <input type="radio" name="optradio"checked>Male
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" >Female
      </label>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-4 form-group">
    <div class="form-group">
        <label for="city" class="app-text-form">City</label>
        <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
            <div *ngIf="f.city.errors.required">city is required</div>
        </div>
    </div>
        </div>
            <div class="col-sm-4 form-group">
    <div class="form-group">
        <label for="pin" class="app-text-form">Pin</label>
        <input type="number" formControlName="pin" onKeyPress="if(this.value.length==6) return false;" min="0"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pin.errors }" />
        <div *ngIf="submitted && f.pin.errors" class="invalid-feedback">
            <div *ngIf="f.pin.errors.required">Pin is required</div>
        </div>
    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 form-group">
                <div class="form-group">
                    <label for="mail" class="app-text-form">E-Mail</label>
                    <input type="email" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
                    <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
                        <div *ngIf="f.mail.errors.required">Mail is required</div>
                    </div>
                </div>
                    </div>
                        <div class="col-sm-4 form-group">
                <div class="form-group">
                    <label for="phone" class="app-text-form">Phone Number</label>
                    <input type="number" formControlName="phone" onKeyPress="if(this.value.length==16) return false;" min="0"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                    </div>
                </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                    <div class="form-group">
                        <label for="speciality" class="app-text-form">Speciality</label>
                        <input type="text"  formControlName="speciality" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.speciality.errors }" />
                        <div *ngIf="submitted && f.speciality.errors" class="invalid-feedback">
                            <div *ngIf="f.speciality.errors.required">Speciality is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <div class="form-group">
                        <label for="qualification" class="app-text-form">Qualification</label>
                        <input type="text" formControlName="qualification" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.qualification.errors }" />
                        <div *ngIf="submitted && f.qualification.errors" class="invalid-feedback">
                            <div *ngIf="f.qualification.errors.required">Qualification is required</div>
                        </div>
                    </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                    <div class="form-group">
                        <label for="experience" class="app-text-form">Experience</label>
                        <input type="text"  formControlName="experience" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.experience.errors }" />
                        <div *ngIf="submitted && f.experience.errors" class="invalid-feedback">
                            <div *ngIf="f.experience.errors.required">Experience is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <div class="form-group">
                        <label for="registration" class="app-text-form">Registration Detail</label>
                        <input type="text" formControlName="registration" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.qualification.errors }" />
                        <div *ngIf="submitted && f.registration.errors" class="invalid-feedback">
                            <div *ngIf="f.registration.errors.required">Registration Number is required</div>
                        </div>
                    </div>
                        </div>
                        </div>
            
    
    <div class="form-group">
        <button [disabled]="loading" class="btn button-app">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
    </div>   
</form>
</div>
</div>
